<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="northwind" connectionString="data source=.;initial catalog=Northwind;integrated security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>