<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEmployeeManager"/>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IEmployeeManager"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8010/EmployeeWCFService/EmployeeManager" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEmployeeManager" contract="EmployeeWCFServiceReference.IEmployeeManager" name="NetTcpBinding_IEmployeeManager">
                <identity>
                    <userPrincipalName value="VPC\VPCUser"/>
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/EmployeeWCFService/EmployeeManager" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeManager" contract="EmployeeWCFServiceReference.IEmployeeManager" name="BasicHttpBinding_IEmployeeManager"/>
        </client>
    </system.serviceModel>
</configuration>
